---
layout: main.njk
---

<div class="wrapper">
  <p class="lead">
    CS50 Final Project: A personal travel journal — using 9 years of data from
    my Untappd account — to stroll down memory lane of past trips.
  </p>
  <div id="awesome-list-of-places"></div>
</div>
