/* Reboot unclassed elements */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: #444;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul,
ol {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-left: 0;
}

a,
a:visited {
  color: #0867ba;
  text-decoration: none;
}

a:hover {
  color: #444;
}

/* Layout */

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eee;
}

.page-content {
  margin-bottom: 2rem;
  flex: 1;
}

.page-header {
  background-color: teal;
  color: #fff;
  padding: 0.2rem 0 0 0;
  margin-bottom: 1rem;
}

.page-footer {
  padding: 1rem 0;
  background-color: gold;
}

.wrapper {
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

/* Components */

.lead {
  max-width: 36rem;
  margin-bottom: 2rem;
}

.place {
  padding: 0.5rem 1rem;
  line-height: 1.25;
  background-color: #fff;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.place > .location {
  /* https://8yd.no/article/web-typography-clamp-with-vw-needs-calc */
  font-size: clamp(1.17rem, calc(1rem + 0.75vw), 1.5rem);
  font-weight: 850;
}

.place > .where {
  font-size: clamp(1rem, calc(0.9rem + 0.35vw), 1.25rem);
}

.place > .when {
  font-size: 0.875rem;
  color: #767676;
  text-transform: uppercase;
  margin-left: auto;
}
